@import url("https://use.typekit.net/cqh6cke.css");


/*Mrs Eaves OT Roman
font-family: "mrs-eaves", serif;
font-weight: 400;
font-style: normal;

Mrs Eaves OT Italic
font-family: "mrs-eaves", serif;
font-weight: 400;
font-style: italic;

Mrs Eaves OT Bold
font-family: "mrs-eaves", serif;
font-weight: 700;
font-style: normal;

Mrs Eaves OT Bold Italic
font-family: "mrs-eaves", serif;
font-weight: 700;
font-style: italic;

Mrs Eaves Roman Lining
font-family: "mrs-eaves-roman-lining", serif;
font-weight: 400;
font-style: normal;

Mrs Eaves Roman Small Caps
font-family: "mrs-eaves-roman-small-caps", serif;
font-weight: 400;
font-style: normal;

Mrs Eaves Roman All Small Caps
font-family: "mrs-eaves-roman-all-small-ca", serif;
font-weight: 400;
font-style: normal;

Mrs Eaves Roman All Petite Caps
font-family: "mrs-eaves-roman-all-petite-c", serif;
font-weight: 400;
font-style: normal;

Mrs Eaves Roman Petite Caps
font-family: "mrs-eaves-roman-petite-caps", serif;
font-weight: 400;
font-style: normal;
*/


:root {
  --color-background: #ffffff;
  --color-text: #000000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html, body {
  max-width: 100%;
}
body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: "mrs-eaves", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
strong {
  font-weight: bold;
}
